[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "HelloFriendNG"]
	path = HelloFriendNG
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
